@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange-400:hsl(12, 88%, 59%);
    --Blue-950: hsl(228, 39%, 23%);
    --Gray-950: hsl(233, 12%, 13%);
    --Orange-50: hsl(13, 100%, 96%);
    --Gray-50: hsl(0, 0%, 98%);
--ff-Be-Vietnam-Pro: "Be Vietnam Pro", sans-serif;
}

.container{
    padding: 2rem 6.25rem;
    max-width: 1400px;
    margin: 0 auto;
}

body{
    background-image: url(assets/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


nav ul{
     display: flex;
     gap: 2rem;
     font-family: var(--ff-Be-Vietnam-Pro);
     font-weight: 400;
}

ul{
    list-style: none;
    font-family: var(--ff-Be-Vietnam-Pro);

}

 li:hover{
    color: var(--Gray-950);
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon{
    display: none;
}




   .nav-button button{
      background-color: var(--orange-400); 
      padding: 12px 28px;
      border: none;
      border-radius: 100rem; 
      font-size: 12px;
      font-weight: 600;
      color: var(--Gray-50);
    }

    .nav-button button:hover{
       opacity: 50%;
          cursor: pointer;
    }

    .section-1{
        padding-top: 4rem;
        display: flex;
    }



    .section-1-div-1 h1{
        font-size: 3rem;
        width: 80%;
        font-family: var(--ff-Be-Vietnam-Pro);
        color: var(--Blue-950);
    }

    .section-1-div-1 p{
        font-family: var(--ff-Be-Vietnam-Pro);
        width: 60%;
        color: var(--Gray-950);
        padding: 1.5rem 0;
         line-height: 1.5rem;
    }

    .section-1-div-1 button{
              background-color: var(--orange-400); 
      padding: 12px 28px;
      border: none;
      border-radius: 100rem; 
      font-size: 12px;
      font-weight: 600;
      color: var(--Gray-50);
    }

    .section-1-div-1 button:hover{
       opacity: 50%;
       cursor: pointer;
    }

    .section-1-div-2{
     
    }

    @media (max-width: 768px) {
   
body{
    background-image: url(assets/bg-simplify-section-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

        .container{
            padding: 2rem 1.5rem;
        }

        .nav{
            padding-top: 3rem;
        }
        nav ul{
            display: none;
        }

        .nav-button{
            display: none;
        }
        .menu-icon{
            display: block;
          
        }

        nav{
            justify-content: space-between;
        }

        .section-1{
            flex-direction: column-reverse;
        }

        .section-1-div-2 img{
        max-width: 100%;
        }

        .section-1-div-1{
          text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .section-1-div-1 h1{
            width: 100%;
            font-size: 2.5rem;
        }

        .section-1-div-1 p{
            line-height: 1.5rem;
        }
    }



